 body {

    background-color: lightblue;
 }


#map {
   width: 99vw;
   height: 100vh;

   margin-top:-50px; 
 }

 h1 {

    text-align: center;
    margin-top: 100px;

    font-size: 100px
 }

 #home{
     background-color: lightblue;
 }

 .globe {
    width: 500px;
    height: 500px;

    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    text-align: center;
 }

 .howto {
    width: 700px;
 }

 .homesearch {

    padding-top: 500px;
 }
 